<nav class="navbar navbar-dark">
    <div class="d-flex flex-row">
        <div>
            <img class="img-fluid" src="assets/images/cube.png" />
        </div>
        <div>
            <p class="head">Simple Angular Task List</p>
        </div>
    </div>
</nav>
<section>
    <div class="block-custom">
        <form [formGroup]="textForm">
            <div>
                <input placeholder="Add a new task" name="taskname" formControlName="text">
                <button class="btn btn-primary" [disabled]="!textForm.valid" (click)="addTask()">Add Task</button>
            </div>
        </form>
        <app-task-list [Items]="Items" (checkEvent)="checkVal($event)"></app-task-list>
        <button (click)="clear()">Clear completed tasks</button>
    </div>
</section>